*{
    background: url(/képek/bg.png);
    position: absolute;
    display: flex;
    margin: 0;
    padding: auto;
}

logo {
    position: absolute;
    display: flex;
    margin: 0;
    padding: auto;
    left: 11;
}



